<a href="https://colab.research.google.com/github/wallaceleonardo/bootcamp-IGTI-Desenvolvedor_Python/blob/main/Desafio_Modulo_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Desafio do MÃ³dulo 2 - Bootcamp Desenvolvedor Python**

In [1]:
# Importando as bibliotecas
import numpy as np
import pandas as pd

In [24]:
# Importando o dataset
df = pd.read_csv("https://pycourse.s3.amazonaws.com/bike-sharing.csv", parse_dates=['datetime'])

In [25]:
df.head()

    datetime  rec_id  season  year  ...  windspeed  casual  registered  total_count
0 2011-01-01       1       1     0  ...        0.0       3          13           16
1 2011-01-01       2       1     0  ...        0.0       8          32           40
2 2011-01-01       3       1     0  ...        0.0       5          27           32
3 2011-01-01       4       1     0  ...        0.0       3          10           13
4 2011-01-01       5       1     0  ...        0.0       0           1            1

[5 rows x 17 columns]

In [26]:
df.tail()

        datetime  rec_id  season  ...  casual  registered  total_count
17374 2012-12-31   17375       1  ...      11         108          119
17375 2012-12-31   17376       1  ...       8          81           89
17376 2012-12-31   17377       1  ...       7          83           90
17377 2012-12-31   17378       1  ...      13          48           61
17378 2012-12-31   17379       1  ...      12          37           49

[5 rows x 17 columns]

In [27]:
# EstatistÃ­cas do dataset
df.describe()

           rec_id        season  ...    registered   total_count
count  17379.0000  17379.000000  ...  17379.000000  17379.000000
mean    8690.0000      2.501640  ...    153.786869    189.463088
std     5017.0295      1.106918  ...    151.357286    181.387599
min        1.0000      1.000000  ...      0.000000      1.000000
25%     4345.5000      2.000000  ...     34.000000     40.000000
50%     8690.0000      3.000000  ...    115.000000    142.000000
75%    13034.5000      3.000000  ...    220.000000    281.000000
max    17379.0000      4.000000  ...    886.000000    977.000000

[8 rows x 16 columns]

In [28]:
# informaÃ§Ãµes do dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17379 entries, 0 to 17378
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   datetime           17379 non-null  datetime64[ns]
 1   rec_id             17379 non-null  int64
 2   season             17379 non-null  int64
 3   year               17379 non-null  int64
 4   month              17379 non-null  int64
 5   hour               17379 non-null  int64
 6   is_holiday         17379 non-null  int64
 7   weekday            17379 non-null  int64
 8   is_workingday      17379 non-null  int64
 9   weather_condition  17379 non-null  int64
 10  temp               17379 non-null  float64
 11  atemp              17379 non-null  float64
 12  humidity           17379 non-null  float64
 13  windspeed          17379 non-null  float64
 14  casual             17379 non-null  int64
 15  registered         17379 non-null  int64
 16  total_count        17379 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(12)
memory usage: 2.3 MB

In [29]:
# a. Qual o tamanho desse dataset?
df.shape

(17379, 17)

In [39]:
# b. Qual a mÃ©dia da coluna windspeed?
df['windspeed'].mean()

0.1900976063064631

In [38]:
# c. Qual a mÃ©dia da coluna temp?
df['temp'].mean()

0.4969871684216586

In [31]:
# d. Quantos registros existem para o ano de 2011?
filtro = df['datetime'].dt.year == 2011
df.loc[filtro]

       datetime  rec_id  season  ...  casual  registered  total_count
0    2011-01-01       1       1  ...       3          13           16
1    2011-01-01       2       1  ...       8          32           40
2    2011-01-01       3       1  ...       5          27           32
3    2011-01-01       4       1  ...       3          10           13
4    2011-01-01       5       1  ...       0           1            1
...         ...     ...     ...  ...     ...         ...          ...
8640 2011-12-31    8641       1  ...      19          73           92
8641 2011-12-31    8642       1  ...       8          63           71
8642 2011-12-31    8643       1  ...       2          50           52
8643 2011-12-31    8644       1  ...       2          36           38
8644 2011-12-31    8645       1  ...       4          27           31

[8645 rows x 17 columns]

In [32]:
# e. Quantos registros existem para o ano de 2012?
filtro = df['datetime'].dt.year == 2012
df.loc[filtro]

        datetime  rec_id  season  ...  casual  registered  total_count
8645  2012-01-01    8646       1  ...       5          43           48
8646  2012-01-01    8647       1  ...      15          78           93
8647  2012-01-01    8648       1  ...      16          59           75
8648  2012-01-01    8649       1  ...      11          41           52
8649  2012-01-01    8650       1  ...       0           8            8
...          ...     ...     ...  ...     ...         ...          ...
17374 2012-12-31   17375       1  ...      11         108          119
17375 2012-12-31   17376       1  ...       8          81           89
17376 2012-12-31   17377       1  ...       7          83           90
17377 2012-12-31   17378       1  ...      13          48           61
17378 2012-12-31   17379       1  ...      12          37           49

[8734 rows x 17 columns]

In [57]:
# f. Quantas locaÃ§Ãµes de bicicletas foram efetuadas em 2011?
df.groupby(df['datetime'].dt.year)['total_count'].sum()

datetime
2011    1243103
2012    2049576
Name: total_count, dtype: int64

In [58]:
# g. Quantas locaÃ§Ãµes de bicicletas foram efetuadas em 2012?
df.groupby(df['datetime'].dt.year)['total_count'].sum()

datetime
2011    1243103
2012    2049576
Name: total_count, dtype: int64

In [36]:
# h. Qual estaÃ§Ã£o do ano contÃ©m a maior mÃ©dia de locaÃ§Ãµes de bicicletas?
filtro = df.groupby('season')['total_count'].mean().reset_index()
filtro[filtro['total_count'] == filtro['total_count'].max()]

   season  total_count
2       3   236.016237

In [37]:
# i. Qual estaÃ§Ã£o do ano contÃ©m a menor mÃ©dia de locaÃ§Ãµes de bicicletas?
filtro = df.groupby('season')['total_count'].mean().reset_index()
filtro[filtro['total_count'] == filtro['total_count'].min()]

   season  total_count
0       1   111.114569

In [42]:
# j. Qual horÃ¡rio do dia contÃ©m a maior mÃ©dia de locaÃ§Ãµes de bicicletas?
filtro = df.groupby('hour')['total_count'].mean().reset_index()
filtro[filtro['total_count'] == filtro['total_count'].max()]

    hour  total_count
17    17   461.452055

In [43]:
# k. Qual horÃ¡rio do dia contÃ©m a menor mÃ©dia de locaÃ§Ãµes de bicicletas?
filtro = df.groupby('hour')['total_count'].mean().reset_index()
filtro[filtro['total_count'] == filtro['total_count'].min()]

   hour  total_count
4     4     6.352941

In [40]:
# l. Que dia da semana contÃ©m a maior mÃ©dia de locaÃ§Ãµes de bicicletas?
filtro = df.groupby('weekday')['total_count'].mean().reset_index()
filtro[filtro['total_count'] == filtro['total_count'].max()]

   weekday  total_count
4        4   196.436665

In [41]:
# m. Que dia da semana contÃ©m a menor mÃ©dia de locaÃ§Ãµes de bicicletas?
filtro = df.groupby('weekday')['total_count'].mean().reset_index()
filtro[filtro['total_count'] == filtro['total_count'].min()]

   weekday  total_count
0        0   177.468825

In [100]:
# n. Ãs quartas-feiras (weekday = 3), qual o horÃ¡rio do dia contÃ©m a maior mÃ©dia de locaÃ§Ãµes de bicicletas?
filtro = df[df['weekday'] == 3].groupby('hour')['total_count'].mean().reset_index()
filtro[filtro['total_count'] == filtro['total_count'].max()]

    hour  total_count
17    17   513.144231

In [101]:
# o. Aos sÃ¡bados (weekday = 6), qual o horÃ¡rio do dia contÃ©m a maior mÃ©dia de locaÃ§Ãµes de bicicletas?
filtro = df[df['weekday'] == 6].groupby('hour')['total_count'].mean().reset_index()
filtro[filtro['total_count'] == filtro['total_count'].max()]

    hour  total_count
13    13   385.371429